In [13]:
# W4A1
n = int(input("Nhap n:"))
tong = 0
if n > 1000 or n < 1:
    print("Nhap so nguyen duong nho hon 1000")
else:
    for i in range(1, n+1):
        tong += i
print(tong)

Nhap n: 1

1

In [22]:
# W4A2
for i in range(10000):
    n = int(input("Nhap n:"))
    if n <= 0:
        print("Nhap so nguyen duong")
    else:
        break
lst = []
for i in range(1, n + 1):
    if n % i == 0:
        lst.append(str(i))
if len(lst) != 2 :
    print(n, "khong la so nguyen to")
else:
    print(n, "la so nguyen to")

Nhap n: 6

6 khong la so nguyen to

In [29]:
# W4A3
n = int(input("Nhap n:"))
if 0 < n < 100:
    giaithua = 1
    for i in range(1, n+1):
        giaithua *= i
    print(giaithua)
else:
    print("Nhap so nguyen lon hon 0 nho hon 100")

Nhap n: 5

120

In [39]:
# W4A4
n = int(input("Nhap so nguyen n:"))
n = abs(n)
count = 0
for i in range(1, n + 1):
    if n // (10 ** i) > 0:
        count += 1
    if n // (10 ** i) == 0:
        count += 1
        break
print(count)

Nhap so nguyen n: 100010

6

In [42]:
# W4A5
n = int(input("Nhap n:"))
if n > 0:
    for i in range(1, n+1):
        if i == 42:
            print("I've found the meaning of life!")
            break
    else:
        print("It's a joke!")
else:
    print("Nhap so nguyen duong")

Nhap n: 100

I've found the meaning of life!

In [48]:
a = int(input("Nhap a:"))
b = int(input("Nhap b:"))
m = max(a, b)
n = min(a, b)
for i in range(1, m + 1):
    if m % i == 0 and i != 1 and i != m:
        print(m, "khong la so nguyen to")
        break
    else:

Nhap a: 11
Nhap b: 1

11 la so nguyen to
11 la so nguyen to
11 la so nguyen to
11 la so nguyen to
11 la so nguyen to
11 la so nguyen to
11 la so nguyen to
11 la so nguyen to
11 la so nguyen to
11 la so nguyen to
11 la so nguyen to
11